<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= event.name %>
    </title>
</head>

<body>
    <h1>
        <%= event.name %>
    </h1>
    <div>Start time: <%= `${event.start.hour}:${event.start.minute}` %>
            <div>Start Date: <%= `${event.start.date}/${event.start.month}/${event.start.year}` %>
            </div>
    </div>
    <div>End time: <%= `${event.end.hour}:${event.end.minute}` %>
            <div>Start Date: <%= `${event.end.date}/${event.end.month}/${event.end.year}` %>
            </div>
    </div>
    <div>
        <div>Description</div>
        <%= event.description %>
    </div>
    <a href="/">All Events</a>
    <a href="/<%= event._id %>/edit">Edit Event</a>
    <form action="/<%= event._id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>
</body>

</html>